/*

#5D001E
#E3AFBC
#9A1750
#EE4C7C


*/
@font-face{
    font-family: 'SFUI';
    src: url('../assets/font/Poppins-Regular.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'SFUI';
    background-color: #E3E2DF;
}

.nav-container{
    top: 0;
    position: sticky;
    z-index: 9;
    width: 100%;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-right: auto;
    margin-left: auto;
}


@media (min-width: 1200px) {
  .nav-container {
    max-width: 1200px;
  }
}

.nav-color{
    background-color: #E3E2DF;
    box-shadow: 8px 14px 38px rgb(39 44 49 / 6%), 1px 3px 8px rgb(39 44 49 / 3%)
}

.nav-link{
    padding: 2rem 2rem 2rem 0;
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
}


/* For Mobile */
@media screen and (max-width: 540px) {
    .nav-link {
        padding: 1rem 0;
        font-size: 1.5rem;
    }
}
