.daily-card-feed {
    -ms-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* For Mobile */
@media screen and (max-width: 540px) {
    .daily-card-feed {
        margin: 0;
        padding: 0 2vw;
    }
}

.daily-card {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 250px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-shadow: rgb(39 44 49 / 6%) 8px 14px 38px, rgb(39 44 49 / 3%) 1px 3px 8px;
    -webkit-transition: all .5s ease;

    /* cursor: pointer; */
    flex-direction: column;
    overflow: hidden;
    flex: 1 1 250px;
    margin: 0 20px 40px;
    min-height: 340px;
    width: 300px;
    background: #fff 50%;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 8px 14px 38px rgb(39 44 49 / 6%), 1px 3px 8px rgb(39 44 49 / 3%);
    transition: all .5s ease;
    display: flex;
}

.daily-image {
    height: 150px;
    background: #c5d2d9 no-repeat 50%;
    object-fit: cover;
    -o-object-fit: cover;
}

.daily-content {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    display: -webkit-box;
    display: -ms-flexbox;

    flex-grow: 1;    /* makes content take full space*/
    display: block;
    padding: 10px 25px 0;
}

.daily-title{
    margin-top: 15px;
    font-size: 20px;
    color: #15171A;
    font-weight: bold;
}

.daily-description{
    margin-top: 15px;
    font-size: 20px;
    color: #15171A;
}

.daily-footer{
    display: -webkit-box;
    display: -ms-flexbox;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    -webkit-box-align: end;
    -ms-flex-align: end;

    display: flex;
    justify-content: space-between;     /*fills area with space between the items*/
    align-items: flex-end;
    padding: 0 25px 10px;
}

/* animation functions */
/* .bounce-up{
    visibility: visible;
    animation: bounce 1s;
    -webkit-animation: bounce 1s;
}

.is-hidden{
    visibility: hidden;
}

@keyframes bounce {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);

    }
} */
